.new-background-color {
    --background: #393E46;
}

.logo {
    width: 2em;
    height: 2em;
    vertical-align: middle;
    float: left;
}

.home {
    display: inline;
}

.h1 {
    --ion-text-color: #313031;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html,
body {
    height: 100%;
}

body {
    background: #433388;
    overflow: hidden;
}

.ocean {
    height: 1%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #6b5da4;
}

.titulo {
    color: #473f56;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/wavePurple.svg) repeat-x;
    position: absolute;
    bottom: -5px;
    width: 6400px;
    height: 60px;
    animation: wave 80s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 8s ease -1.25s infinite;
    transform: translate3d(0, 0, 0);
    filter: hue-rotate(40deg);

}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, 40, 0);
    }

    50% {
        transform: translate3d(0, 20, 0);
    }
}

.endWave {
    display: none;
}