<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="custom2"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="home">
      <ion-title>BookingClass</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="titulo">Bienvenid@ {{getName()}}</h1>
  <img src="./assets/logo.png" alt="">
</ion-content>
<ion-footer>
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</ion-footer>