ion-icon {
    font-size: 15vh;
}

ion-card.cardDatos {
    --background: #c7417b;
    position: relative;
    isolation: isolate;
}

.svg {
    color: #E9DDF3;
}

ion-item {
    --background: #c7417b;
    --border-color: #c7417b;
}

.textLabel {
    font-size: 1.5em;
}

p {
    font-size: 1.3em;
}