ion-card.cardEscanear {
    --background: #c7417b;
    position: relative;
    isolation: isolate;
}

ion-card.cardEscribir {
    --background: #c7417b;
    position: relative;
    isolation: isolate;
}

ion-grid {
    height: 100%;
}

ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

p {
    color: white;
    text-align: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ion-button {
    margin-top: 1rem;
}

.md {
    --ion-item-background: #c7417b;
    --ion-background-color: #E9DDF3;
    --ion-toolbar-background: #8f3b76;
    --ion-text-color: #E9DDF3;
}

.ios {
    --ion-item-background: #c7417b;
    --ion-background-color: #E9DDF3;
    --ion-toolbar-background: #8f3b76;
    --ion-text-color: #E9DDF3;
}

.colorInput {
    color: #000000;
}